﻿<html>
  <head>
    <style>
      .z0 { }
      .z1 { background-image: url(img/square.svg); }
      .square-sel { background-color: #99bdd8; }
      .square-move { border: 5px solid black; }
      .board td { width: 12.5%; height: 12.5%; background-repeat: no-repeat; background-position: center center; background-size: cover; }
      .back td { width: 12.5%; height: 12.5%; background-repeat: no-repeat; background-position: center center; background-size: cover; }
      .arrows { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; pointer-events: none; }
      .move { display: inline-block; font-size: 16pt; padding: 2pt 5pt; cursor: pointer; border-radius: 2pt; }
      .move-sel { background-color: #c8daed; }
      .pgn-box { display: none; }
      .pgn-box.visible { display: block; }
      
      .pbr { background-image: url(img/br.svg); }
      .pbn { background-image: url(img/bn.svg); }
      .pbb { background-image: url(img/bb.svg); }
      .pbq { background-image: url(img/bq.svg); }
      .pbk { background-image: url(img/bk.svg); }
      .pbp { background-image: url(img/bp.svg); }
      .pwr { background-image: url(img/wr.svg); }
      .pwn { background-image: url(img/wn.svg); }
      .pwb { background-image: url(img/wb.svg); }
      .pwq { background-image: url(img/wq.svg); }
      .pwk { background-image: url(img/wk.svg); }
      .pwp { background-image: url(img/wp.svg); }
      .pzz { background-image: none; }
    </style>

    <script src="scripts/jquery-3.3.1.js"></script>
  </head>
  <body style="font-family: sans-serif; ">
      <div style="display: inline-block; width: 810px; height: 810px; position: relative; border: 5px solid black; ">
          <table class="back" cellpadding="0" cellspacing="0" style="position: absolute; width: 100%; height: 100%">
              <tr><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1"></td></tr>
              <tr><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0"></td></tr>
              <tr><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1"></td></tr>
              <tr><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0"></td></tr>
              <tr><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1"></td></tr>
              <tr><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0"></td></tr>
              <tr><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1"></td></tr>
              <tr><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0">&nbsp;</td><td class="z1">&nbsp;</td><td class="z0"></td></tr>
          </table>
          <table class="board" cellpadding="0" cellspacing="0" style="position: absolute; width: 100%; height: 100%">
              <tr><td class="sa8 pzz">&nbsp;</td><td class="sb8 pzz">&nbsp;</td><td class="sc8 pzz">&nbsp;</td><td class="sd8 pzz">&nbsp;</td><td class="se8 pzz">&nbsp;</td><td class="sf8 pzz">&nbsp;</td><td class="sg8 pzz">&nbsp;</td><td class="sh8 pzz"></td></tr>
              <tr><td class="sa7 pzz">&nbsp;</td><td class="sb7 pzz">&nbsp;</td><td class="sc7 pzz">&nbsp;</td><td class="sd7 pzz">&nbsp;</td><td class="se7 pzz">&nbsp;</td><td class="sf7 pzz">&nbsp;</td><td class="sg7 pzz">&nbsp;</td><td class="sh7 pzz"></td></tr>
              <tr><td class="sa6 pzz">&nbsp;</td><td class="sb6 pzz">&nbsp;</td><td class="sc6 pzz">&nbsp;</td><td class="sd6 pzz">&nbsp;</td><td class="se6 pzz">&nbsp;</td><td class="sf6 pzz">&nbsp;</td><td class="sg6 pzz">&nbsp;</td><td class="sh6 pzz"></td></tr>
              <tr><td class="sa5 pzz">&nbsp;</td><td class="sb5 pzz">&nbsp;</td><td class="sc5 pzz">&nbsp;</td><td class="sd5 pzz">&nbsp;</td><td class="se5 pzz">&nbsp;</td><td class="sf5 pzz">&nbsp;</td><td class="sg5 pzz">&nbsp;</td><td class="sh5 pzz"></td></tr>
              <tr><td class="sa4 pzz">&nbsp;</td><td class="sb4 pzz">&nbsp;</td><td class="sc4 pzz">&nbsp;</td><td class="sd4 pzz">&nbsp;</td><td class="se4 pzz">&nbsp;</td><td class="sf4 pzz">&nbsp;</td><td class="sg4 pzz">&nbsp;</td><td class="sh4 pzz"></td></tr>
              <tr><td class="sa3 pzz">&nbsp;</td><td class="sb3 pzz">&nbsp;</td><td class="sc3 pzz">&nbsp;</td><td class="sd3 pzz">&nbsp;</td><td class="se3 pzz">&nbsp;</td><td class="sf3 pzz">&nbsp;</td><td class="sg3 pzz">&nbsp;</td><td class="sh3 pzz"></td></tr>
              <tr><td class="sa2 pzz">&nbsp;</td><td class="sb2 pzz">&nbsp;</td><td class="sc2 pzz">&nbsp;</td><td class="sd2 pzz">&nbsp;</td><td class="se2 pzz">&nbsp;</td><td class="sf2 pzz">&nbsp;</td><td class="sg2 pzz">&nbsp;</td><td class="sh2 pzz"></td></tr>
              <tr><td class="sa1 pzz">&nbsp;</td><td class="sb1 pzz">&nbsp;</td><td class="sc1 pzz">&nbsp;</td><td class="sd1 pzz">&nbsp;</td><td class="se1 pzz">&nbsp;</td><td class="sf1 pzz">&nbsp;</td><td class="sg1 pzz">&nbsp;</td><td class="sh1 pzz"></td></tr>
          </table>
          <div class="arrows">
              &nbsp;
          </div>
      </div>

      <div style="padding: 10pt 10pt; width: 800px; ">
          <select class="diagram-num" style="font-size: 12pt; margin: 5pt 0; ">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
          </select>
          <textarea class="moves-box" rows="3" style="width: 100%; "></textarea>
      </div>
      <script>
          var pieceClassMap = new Map([["P", "pwp"], ["R", "pwr"], ["N", "pwn"], ["B", "pwb"], ["Q", "pwq"], ["K", "pwk"],
                                       ["p", "pbp"], ["r", "pbr"], ["n", "pbn"], ["b", "pbb"], ["q", "pbq"], ["k", "pbk"], ["z", "pzz"]]);

          var startFen = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";
          var curFen;

          var moveInfos = [{ fen: startFen }];

          function getArrowCoords(move, width, n, d) {
              if (!Number.isInteger(n)) { n = 0; }
              if (!Number.isInteger(d)) { d = 0; }

              if (move === "a1a1") {
                  return "";
              }

              var x1 = (move.charCodeAt(0) - "a".charCodeAt(0)) * 100 + 50;
              var y1 = ("8".charCodeAt(0) - move.charCodeAt(1)) * 100 + 50;
              var x2 = (move.charCodeAt(2) - "a".charCodeAt(0)) * 100 + 50;
              var y2 = ("8".charCodeAt(0) - move.charCodeAt(3)) * 100 + 50;

              var dx = x1 - x2;
              var dy = y1 - y2;
              var length = Math.sqrt(dx * dx + dy * dy);
              var sin = dx / length;
              var cos = dy / length;

              if (sin < 0 || cos === -1) { d = -d; }

              var ps = [];

              var relPush = function (x, y, sign) {
                  p = ps[ps.length - 1];
                  ps.push({ x: p.x + x * sign * width, y: p.y + y * sign * width });
              }

              var nPush = function (sign) {
                  for (var i = 0; i < n; i++) {
                      if (sign === 1) {
                          relPush(0, 0.75, sign);
                      }
                      relPush(1, 0, sign);
                      relPush(0, 0.75, sign);
                      relPush(-1, 0, sign);

                      if (sign === -1) {
                          relPush(0, 0.75, sign);
                      }
                  }
              }
              var ofs = width / 2;
              ps.push({ x: 0, y: 0 + ofs });
              ps.push({ x: width * 1.5, y: width * 3 + ofs });
              ps.push({ x: width / 2, y: width * 3 + ofs });
              ps.push({ x: width / 2, y: length - n * 0.75 * 2 * width - ofs });
              nPush(1);
              ps.push({ x: -width / 2, y: length - ofs });
              nPush(-1);
              ps.push({ x: -width / 2, y: width * 3 + ofs });
              ps.push({ x: -width * 1.5, y: width * 3 + ofs });

              for (var i = 0; i < ps.length; i++) {
                  var x = ps[i].x;
                  var y = ps[i].y;
                  ps[i].x = Math.round(  x * cos + y * sin + x2 + d * width * cos);
                  ps[i].y = Math.round(- x * sin + y * cos + y2 - d * width * sin);
              }

              return ps.map(p => "" + p.x + "," + p.y).join(" ");
          }

          function getD(move) {
              var x = move.split("~").slice(1).filter(x => Number.isInteger(Number(x)));
              return (x.length === 0) ? 0 : Number(x[0]) - 5;
          }

          function getArrowsSvg(arrows) {
              var s = arrows.map((x, i) => "<polygon points=\"" + getArrowCoords(x, 12, Math.floor(i / 2), getD(x)) + "\" style=\"fill: black; stroke: white; stroke-width: 3; \"/>").join("");
              return "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"800\" height=\"800\">" + s + "</svg>";
          }

          function applyArrows(arrows) {
              var style = "background-image: url('data:image/svg+xml;ut8," + getArrowsSvg(arrows).replaceAll("#", "%23") + "'); ";
              $(".arrows").attr("style", style);
          }

          function applyFen(fen) {
              var fen0 = fen.split(" ")[0];
              fen0 = fen0.replaceAll("1", "z",).replaceAll("2", "zz").replaceAll("3", "zzz").replaceAll("4", "zzzz")
                  .replaceAll("5", "zzzzz").replaceAll("6", "zzzzzz").replaceAll("7", "zzzzzzz").replaceAll("8", "zzzzzzzz");

              var fs = fen0.split("/");
              var cols = "abcdefgh";
              var rows = "87654321";

              for (var y = 0; y < 8; y++) {
                  for (var x = 0; x < 8; x++) {
                      var elem = $(".s" + cols[x] + rows[y]);
                      elem.attr("class", elem.attr("class").replace(/p(zz|[bw][prnbqk])/, pieceClassMap.get(fs[y][x])));
                  }
              }

              curFen = fen;
          }

          function getMoveInterval(a, n) {
              var i = 0;
              var ni = 0;
              var r = [];
              for (; i < a.length && ni < n; i++) {
                  if (a[i].move && a[i].move.indexOf("~d") >= 0) {
                      ni++;
                  }
              }

              if (i > 0) {
                  r.push(a[i - 1]);
              }

              for (; i < a.length && ni === n; i++) {
                  if (a[i].move && a[i].move.indexOf("~d") >= 0) {
                      ni++;
                  }
                  r.push(a[i]);
              }

              return r;
          }

          function applyDiagram() {
              var n = Number($(".diagram-num").val());
              moves = getMoveInterval(moveInfos, n);
              $(".square-move").removeClass("square-move");
              var fstUci = moves[0].uci;
              if (fstUci && fstUci.substring(0,4) !== "a1a1") {
                  $(".s" + fstUci.substring(0, 2)).addClass("square-move");
                  $(".s" + fstUci.substring(2, 4)).addClass("square-move");
              }
              applyFen(moves[0].fen);
              var arrows = moves.slice(1).map(x => x.uci);
              applyArrows(arrows);
          }

          $(document).ready(function () {
              applyFen(startFen);

              $(".diagram-num").change(function () {
                  applyDiagram();
              });

              $(".moves-box").change(() => {
                  $.getJSON("api/move/info?pgn=" + encodeURIComponent($(".moves-box").val())).done(data => {
                      moveInfos = [{ fen: startFen }].concat(data);
                      applyDiagram();
                  });
              });
          });
      </script>
  </body>
</html>